# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Optional build dependencies
am335x_pru_package-master

# Lstings
prucode*.txt
logfile.txt
mfm_write*.txt

# Programs
emu/mfm_emu
mfm/mfm_read
mfm/mfm_util
mfm/mfm_write
mfm/find_crc_info
powerfail/powerfail
mfm/ext2emu
